%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: "/"} RailsApp
    %ul.nav.navbar-nav
      %li.active
        %a{href: "/"} Home
      %li
        = link_to('Shifts', shifts_path)
      - if user_signed_in?
        %li
          = link_to('Logout', destroy_user_session_path, method: :delete)

          